<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://www.ladbrokesplc.com/</string>
	<string>http://news.ladbrokes.com/en-gb/</string>
	<string>http://www.ladbrokescareers.com/</string>
	<string>http://www.ladbrokesplc.com/investor-centre.asp</string>
	<string>http://www.score-affiliates.com/</string>
	<string>https://sb.ladbrokes.com/</string>
	<string>http://mobile.ladbrokes.com/lobby/bingo</string>
	<string>http://mobile.ladbrokes.com/lobby/casino</string>
	<string>http://mobile.ladbrokes.com/lobby/poker</string>
	<string>http://help.ladbrokes.com/display/4/kb/article.aspx?</string>
	<string>http://help.ladbrokes.com/display/4/search.aspx?</string>
	<string>http://help.ladbrokes.com/display/4/kb/article.aspx?</string>
	<string>http://help.ladbrokes.com/display/4/kb/article.aspx?</string>
	<string>http://help.ladbrokes.com/display/4/kb/article.aspx?</string>
	<string>http://help.ladbrokes.com/display/4/kb/optional/index.aspx?</string>
	<string>http://www.gambleaware.co.uk/</string>
	<string>http://media.ladbrokes.com/generic/images/siteImages/footerIcons_various</string>
	<string>http://www.twitte</string>
	<string>http://www.facebook.com/Ladbrokes</string>
</array>
</plist>
