<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>test</key>
	<string>http://tst-mobile.ladbrokes.com/</string>
	<key>live</key>
	<string>http://mobile.ladbrokes.com/</string>
	<key>dev</key>
	<string>http://dev-mobile.ladbrokes.com/</string>
</dict>
</plist>
